extends ./layout/index

block content
    main(class="container mt-5")
        div(class="row")
            div(class="col-md-5")
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            div(class="col-md-7")
                h1 #{sectionName}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum velit elit, eleifend eget mollis non, tincidunt vitae dolor. Nullam convallis diam magna, vitae molestie leo viverra eu. Proin porta egestas ligula quis viverra.

                p Duis vestibulum diam id laoreet rutrum. Ut mattis massa diam, non semper lectus pharetra nec. Aliquam bibendum nisi vel mauris varius, vel faucibus dolor dapibus. Aliquam ut eleifend tortor. Mauris quam nulla, imperdiet id cursus nec, dictum non nulla. Sed aliquet nisl vel urna ultrices, vel sodales nunc suscipit. Etiam convallis vel metus vitae imperdiet.

                p Donec non odio vel dui posuere faucibus a sed diam. Aliquam erat volutpat. Aliquam aliquam eu orci non hendrerit. Fusce eu ipsum mollis, vehicula nunc sed, porttitor magna. Aliquam elit velit, laoreet in tortor ac, ornare blandit nisl. Donec ut lorem a purus dignissim accumsan a quis libero. Quisque nec malesuada urna. Vivamus fringilla lacus at turpis sagittis, ut tincidunt lorem tincidunt. Mauris aliquet congue dignissim. Fusce non volutpat velit. Nam vitae diam sit amet magna euismod consequat.
    
    div(class="listado-iconos")
        div(class="container mt-5 py-5 text-center")
            div(class="row")
                div(class="col-md-4")
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2(class="mb-4") Seguridad
                    p Liquam bibendum nisi vel mauris varius, vel faucibus dolor dapibus. Aliquam ut eleifend tortor. Mauris quam nulla, imperdiet id cursus nec, dictum non nulla. Sed aliquet nisl vel urna ultrices, vel sodales nunc suscipit.

                div(class="col-md-4")
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2(class="mb-4") Los mejores destinos
                    p Liquam bibendum nisi vel mauris varius, vel faucibus dolor dapibus. Aliquam ut eleifend tortor. Mauris quam nulla, imperdiet id cursus nec, dictum non nulla. Sed aliquet nisl vel urna ultrices, vel sodales nunc suscipit.

                div(class="col-md-4")
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2(class="mb-4") Precios inigualables
                    p Liquam bibendum nisi vel mauris varius, vel faucibus dolor dapibus. Aliquam ut eleifend tortor. Mauris quam nulla, imperdiet id cursus nec, dictum non nulla. Sed aliquet nisl vel urna ultrices, vel sodales nunc suscipit.