div(class="row testimoniales")
    each testimonial in testimonials
        div(class="col-md-6 col-lg-4 mb-4")
            div(class="card")
                div(class="card-body")
                    blockquote(class="blockquote")
                    p(class="mb-0")
                        | #{testimonial.message}
                    footer(class="blockquote-footer")
                        | #{testimonial.name}